<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Biometric Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="login-row ion-justify-content-center">
    <img src="assets/img/locked.svg" class="lock-img" tappable (click)="unLock()">
  </ion-row>
  <ion-row class="login-row ion-justify-content-center">
    <ion-text class="ion-text-center" color="dark">
      <h5>Haga clic en <b>BLOQUEAR</b> imagen para comenzar:</h5>
    </ion-text>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-text class="ion-text-center" color="dark">
      <h5>1- Guardar contraseña</h5>
    </ion-text>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-text class="ion-text-center" color="dark">
      <h5>2- Iniciar sesión con contraseña o huella digital</h5>
    </ion-text>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-text class="ion-text-center" color="dark">
      <h5>La huella dactilar solo funciona en dispositivos compatibles</h5>
    </ion-text>
  </ion-row>

  <ion-row class="remove ion-justify-content-center">
    <ion-text class="ion-text-center" color="dark">
      <h5>Haga clic en eliminar datos para borrar el almacenamiento local</h5>
    </ion-text>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-button (click)="removeData()" class="button" color="danger">
      Eliminar datos
    </ion-button>
  </ion-row>
</ion-content>
