<ion-header>
  <ion-toolbar color="success">
    <ion-button (click)="regresar()" slot="start" fill="clear" shape="round">
     regresar
    </ion-button>
    <ion-title>
      Ionic Biometric Login
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="home-row ion-justify-content-center">
    <img src="assets/img/unlocked.svg" class="unlock-img">
  </ion-row>
  <ion-row class="login-row ion-justify-content-center">
    <ion-text color="success">
      <h3>Desbloqueado</h3>
    </ion-text>
  </ion-row>
</ion-content>
